<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<check if="{{ @minified }}">
<true>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
<script src="js/typeahead.bundle.min.js"></script>
<script src="js/wocdb.min.js?{{ @minFileModTime }}"></script>
</true>
<false>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone.js"></script>
<script src="js/typeahead.bundle.min.js"></script>
<script src="js/wocdb.js"></script>
<script src="js/utils.js"></script>
<script src="js/models/activewoc.js"></script>
<script src="js/models/woc.js"></script>
<script src="js/models/medal.js"></script>
<script src="js/models/race.js"></script>
<script src="js/models/runner.js"></script>
<script src="js/models/result.js"></script>
<script src="js/models/best.js"></script>
<script src="js/collections/wocs.js"></script>
<script src="js/collections/countries.js"></script>
<script src="js/collections/medals.js"></script>
<script src="js/collections/runners.js"></script>
<script src="js/collections/races.js"></script>
<script src="js/collections/person.js"></script>
<script src="js/collections/raceresult.js"></script>
<script src="js/collections/bestlist.js"></script>
<script src="js/views/active-woc-view.js"></script>
<script src="js/views/wocdb-view.js"></script>
<script src="js/views/master-view.js"></script>
<script src="js/views/person-view.js"></script>
<script src="js/views/result-view.js"></script>
<script src="js/views/runners-view.js"></script>
<script src="js/views/race-result-view.js"></script>
<script src="js/views/race-header-view.js"></script>
<script src="js/views/race-menu-view.js"></script>
<script src="js/views/best-view.js"></script>
<script src="js/views/medals-view.js"></script>
<script src="js/routers/router.js"></script>
</false>
</check>
<script type="text/javascript">(function () {
wocdb.config = {
  url: "{{ @base }}",
<check if="{{ isset(@racedata) }}">
  <true>bootstrapRaceResult: {{ @racedata | raw }},</true>
</check>
<check if="{{ isset(@persondata) }}">
  <true>bootstrapPerson: {{ @persondata | raw }},</true>
</check>
<check if="{{ isset(@bestdata) }}">
  <true>bootstrapBestList: {{ @bestdata | raw }},</true>
</check>
<check if="{{ isset(@medaldata) }}">
  <true>bootstrapMedals: {{ @medaldata | raw }},</true>
</check>
<check if="{{ isset(@runnerdata) }}">
  <true>bootstrapRunners: {{ @runnerdata | raw }},</true>
</check>
  bootstrapWocs: {{ @wocs | raw }},
  countrydata: {{ @countries | raw }}
}
}());
$(document).ready(wocdb.init);
</script>
</body>
</html>
