<script type="text/template" id="woc-summary-tmpl">
<div class="panel-heading clearfix">
  <div class="btn-group pull-right">
    <button type="button" id="prev-woc" class="btn btn-default"><<</button>
    <button type="button" id="next-woc" class="btn btn-default">>></button>
  </div>
  <div>Event summary</div>
</div>
<div class="panel-body">
  <table class="table table-condensed"  width="100%">
  <thead>
    <tr>
      <th>Year</th>
      <th>Event</th>
      <th>Country</th>
      <th>Venue</th>
      <th>Dates</th>
      <th>Countries</th>
      <th>Runners</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= year %></td>
      <td><%= type %></td>
      <td><%= country %></td>
      <td><%= location %></td>
      <td><%= dates %></td>
      <td><%= countries %></td>
      <td><%= runners %></td>
    </tr>
  </tbody>
  </table>
</div>
</script>
<script type="text/template" id="race-menu-tmpl">
<a id="<%= raceid %>" class="list-group-item" href="<%= type.toLowerCase() %>/<%= year %>/<%= gender.toLowerCase() %>/<%= race.toLowerCase() %>"><%= gender %> <%= race %></a>
</script>
<script type="text/template" id="race-header-tmpl">
<%= (link === "") ? "": "<button type='button' id='map-link' class='btn btn-default'>Map</button>" %>
<%= (wocid < 1000) ? 'WOC': 'JWOC' %> <%= year %> <%= gender %> <%= race %>
</script>
<script type="text/template" id="person-header-tmpl">
Results for <%= name %>
</script>
<script type="text/template" id="race-result-tmpl">
<td class='center-text'><%= parseInt(position,10)===999?"-":position %></td><td><%= name %><td><%= country %></td><td><img src="<%= flag %>"></td>
<td class='center-text'><%= time %><td class='center-text'><%= percentdown %></td>
</script>